/* ---------  PAGE  ---------- */
.race-header {
    text-align: center;
    margin-bottom: 20px;
}
.race-header button {
    background: var(--foreground);
    color: var(--background);
    padding-inline: 10px;
    border-radius: 5px;
}


/* ---------  TABLE  ---------- */
table, th, td {
    border: 1px solid white;
}
table {
    width: 95%;
    margin-block: 0 20px;
    margin-inline: auto
}
tr {
    font-size: 0.7rem;
}

.heat-title {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    background: gray;
    font-size: 1.1rem;
}

/* Small Tablet */
@media screen and (min-width: 620px) {
    .heat-title, tr {
        font-size: 1.1rem;
    }
}

/* Medium Screen */
@media screen and (min-width: 800px) {
    .heat-title, tr {
        font-size: 1.2rem;
    }
}